/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* navbar design starts here */

.nav-logo{
    text-align: left;
}
.nav-heading h1{
    text-align: right;
    font-size: 75px;
    color: #e54a4a;
    font-family: 'Pacifico', cursive;
}

.navbar-menu{
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-menu a {
    padding: 8px 14px;
    margin: 62px 5px;
}
.navbar {
    background-color: rgb(191, 231, 231);
}

/*  navbar ends here */

/* profile starts from here */
.profile .top-icon{
   
    right: 100px;
    width: 200px;
    height: 150px;
    transition: width 2s transform 2s;
   
}
.profile .top-icon:hover{
   
    width: 220px;
}
.profile .buttom-icon{
   
    right: 100px;
    bottom: 1px;
    width: 200px;
    height: 150px;
    transition: width 2s transform 2s;
   
}
.profile .buttom-icon:hover{
   
    width: 220px;
}
.profile-desc p{
    color: gray;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
    width:50%
}
/* profile ends here */

/* About me starts here */
.aboutme-image {
    margin-top: 110px;
}

.aboutme-image img {
    height: 270px;
    width: 250px;
}

.aboutme-desc p{
    text-align: left;
}
.cv-button:hover{
    background:#d80a0a;
    color: #ffffff;
}


/* About me ends here  */

/* professional experience start here */
.profe{
    padding: 1% 5%;
}


/* professional experience ends here */

/* contact-me starts form here */
.achievement{
    padding-right: 50px;
}

.contact button{
    width: 150px;
}

.contact-links{
    position: relative;
}

.buicon {
    position: absolute;
    margin-top: 140px;
    top: 17%;
    left: 46%;
    transform: translate(-39%, -57%);
}
/* contact-me ends form here */

/* footer starts for here  */
.footer-titel {
    
    margin-top: 12px;
}
.footer-titel a{
    display: inline;
    margin: 15px;
}

/* footer ends for here  */