/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* --------------------------------  */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
    /* line-height: 1.625em; */
    
}

/* header style start here  */ 
header{
    width:100%;
    height: 70px;
    position: fixed;
    top: 0;
    background-color: #fff;
    overflow: hidden;
    z-index: 1;
}
.header-scrolled {
    transition: all 0.5s;
    box-shadow: -21.213px 21.213px 30px 0px rgb(158 158 158 / 30%);
}
header >div{
    float: left;
    justify-content: space-between;
    align-items: center;
}
header > .logo{
    margin-left: 200px;
    padding: 20px;
}
header > .nav{
    position: absolute;
    top:0;
    right: 0;
    margin-right:200px; 
}
header >.nav ul{
    list-style: none;
}
header >.nav ul li{
    float: left;
    padding-right:40px;
    padding-top: 10px;
}
header >.nav ul li a{
    text-decoration: none;
    color:#222;
    text-transform: uppercase;
    font-size: 12;
    transition: 0.5s;
    font-weight: 500;
    
}
header >.nav ul li a:hover{
    color:#8490FF;
}
.checkbtn{
    display: none;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.9);
    float: right;
    line-height:  70px ;
    margin-right: -170px ;
}
#check{
    display: none;
}
/* header style ends here  */ 

/* section one start from here  */
.section1{
    background: #F9F9FF;
    width: 100%;
    height: 665px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;
}
.half1, .half2{
    width: 50%;
}
.half1{
    margin-left: 230px;
    margin-bottom: 120px;
}
.half2{
    padding-right: 160px;
    margin-top: 50px;
}
.half2> img{
    max-width: 100%;
    height: auto;
}
.half1 h3{
    font-weight: normal;
}
.half1 h1 {
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 23px;
}
.half1 p{
    color: rgba(173, 173, 173,0.7);
}
 .but{
    padding-left: 30px;
    padding-right: 30px;
    line-height: 42px;
    color: #fff;
    background-color: #8194FF;
    border: none;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    transition: all 0.5s ease-in 0.1s ;
}
.but:hover{
    box-shadow:  5px 10px 30px rgba(130, 147, 255,0.5);
}
/* section one Ends from here  */
/* ============================================ */
/* section Two start from here  */
.section2{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2 >div{
    width: 40%;
    margin: 0 auto;
}
.section2 img{
    width: 71%;
    height: auto;
}
.section2 .img2{
   padding-left: 150px;
   margin-top: 100px;
   margin-right: -330px;
}
.text2 h4 {
    font-weight: normal;
    color: rgba(0, 0, 0, 0.7);
    font-size: 15px;
}
.text2 h1{
    font-size: 40px;
    font-weight: bold;
}
.text2 p{
    font-size: 15px;
    color: rgba(0,0 ,0 ,0.6 );
    width: 88%;
}
/* section Two ends from here  */
/* =================================== */
/* section three start from here  */
.sec3{
    width: 100%;
    height: 650px;
    margin: 0 auto;
    text-align: center;
}
.firsttext >h1{
    font-size: 30px;
    line-height: 10px;
}
.firsttext p{
    width: 670px;
    color: #777;
    margin: 0 auto;
}
.service{
    width: 80%;
    margin: 0 auto;
    padding-top: 45px ;
}
.ser1 .ser2{
    width: 100%;
    overflow: hidden;
}

.ser1 div, .ser2 div{
    width: 32%;
    float: left;
    padding: 5px;

}
.ser2 div{
    padding-top: 35px ;
}
.service i{
    font-size: 35px;
    color: #222;
    transition: all 0.3s ease;
}
.service i:hover{
    color: #8490FF;
}
.service h4:hover{
    color: #8490FF;
}
.service h4{
    font-size: 18px;
    color: #222222;
    transition: all 0.3s ease;
}
.service p{
    color: rgba(0,0 ,0 ,0.6 );
}


/* section three ends here  */
/* ================================ */
/* section four start here  */
.sec4{
    width: 100%;
    background-color: #7E99FF;
    height: 300px;
}
.sec4>div{
    float: left;
    width: 20%;
    margin: 0 auto;
    position: relative;
    top: 100px;
    left: 300px;

}
.sec4 div h1{
    font-size: 36px;
    color: #ffffff;
    font-weight: 700;
    line-height: 0px;
}
.sec4 div p{
    color: #fff;
    
}
.sec4 div h1 p{
   text-align: center;
}
/* section four ends here  */
/* portfolio part start here  */
.sect5{
    width: 100%;
    box-sizing: border-box;
    

}
.text3{
    text-align: center;
    margin-bottom: 150px;
    margin-top: 120px;
}
.text3 h1 {
    font-size: 34px;
    color: rgba(0,0 ,0 ,0.9 );
    margin-top: 80px;
}
.text3 p {
    color: rgba(0,0 ,0 ,0.6 );
    margin-top: -20px;
    margin-bottom: 30px;
}
.sect5 .imgg{
    width: 69%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    
}
.sect5 .imgg div{
    width: 417px;
    height: 414px;
    padding-bottom: 40px;

}
.sect5 .imgg h1{
    font-size: 20px;
    color:rgba(0,0 ,0 ,0.9 );
    line-height: 0;
    text-align: center;
}
.sect5 .imgg p{
    
    color:rgba(0,0 ,0 ,0.6);
    text-align: center;
    
}
.sect5 figure{
   background: linear-gradient(40deg, #7E99FF 40%, #687bbe 100%);     
   width: 340px;
   height: 337px;
   margin: 0;
   padding: 0;
   overflow: hidden;
   border-radius: 3%;
   
}
.sect5 figure:hover img{
    opacity:0.3;
    transition: all 0.3s ease;
    
}

/* portfolio part ends here  */
/* <!-- pricing table start here  --> */
.sect6{
    width: 100%;
    height: 850px;
    
}
.text4{
    text-align: center;
    padding: 2% 0;
}
.text4 h1{
    font-size: 40px;
    line-height: 0;
    padding-top: 15px;
}
.text4 p{
    color: rgba(155, 142, 142,0.8);
}
.card{
    width: 75%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.caed1{
    width: 352px;
    height: 607px;
    background-color: #d3d3fa77;
    text-align: center;
    border-radius: 3%;
    
}
.caed1 h1{
    font-size: 50px;
    padding-top: 8px;
}
.caed1 input{
    outline: none;
    background-color:#ffffff ;
    color: rgb(0, 0, 0);
    font-size: 25px;
    padding: 6px 60px;
    font-weight: bold;
    border: 1px solid #fff;
    cursor: pointer;
}
.caed1:hover{
    background-color: #7E99FF;
    color: #fff;
    transition: all .23s ease-in ;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5);
}
/* <!-- pricing table ends here  --> */
/* footer start here  */
footer{
    background-color: #04091E;
    color: #fff;
    width: 100%;
    height: 400px;
    margin-top: 50px;
    position: absolute;
}
.foot{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
}
.foot1:first-child{
    width: 380px;
}
.foot1 p{
    color: #777;
}
.foot1 input{
    font-size: 15px;
    outline: none;
    border: none;
    padding: 10px 150px 10px 10px;
}
.foot1 button{
    font-size: 18px ;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #7E99FF;
    padding: 8px 15px ;
}
.foot1 i{
    font-size: 20px;
    cursor: pointer;
    padding: 2px 5px;
}
.foot1 i:hover{
    color: #8194FF;
    transition: all .3s ease-in;
}
/* footer ends here  */
/* about start here  */
.about{
    width: 100%;
    height: 550px;
    background-color: #F9F9FF;
}
.text0{
    text-align: center;
    padding: 2% 0;
}
.text0 h1{
    font-size: 40px;
    line-height: 0;
    padding-top: 15px;
}
.conter{
    width: 65%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    
}
.con1{
    width: 600px;
    height: 180px;
    background-color: #ffffff;
    
    border-radius: 15px;
    cursor: pointer;
}
.thumb {
    float: left;
    padding-top: 16px;
    margin-right: 50px;
    margin-left: 30px;
    height: 150px;
}
.thumb img{
    width: 40px;
}
.desc h4{
    font-size: 23px;
    line-height: 0;

}
.desc h4:hover{
    color: #7E99FF;
    transition: all .3s;
}
.con1:hover{
    box-shadow: 0 8px 12px 0 rgb(0 0 0 / 50%);
}
/* about Ends here  */

